<!DOCTYPE html>
<html lang="en">

<head>
	<title>Umair Chorghay</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-md-12">
				  <br>
				  <center>
				  <h2>Load parameters and Control</h2>
				  </center>
			  </div>
		</div><hr>
        <div class="row">
		  <div class="col-md-6">
		  <br>
		  {% block content %}
		  {% endblock %}
		  </div>
		  <div class="col-md-6">
		  <h4>Node1</h4>
		  </div>
		
		</div>
		<div class="row">
		  <div class="col-md-6">
		  <br>
          <br>
		  <br>
		  </div> 
		  <div class="col-md-6">
		    <table class="table table-bordered">
			  <tbody>
			    <tr>
				  <td>Voltage</td>
				  <td>node1.value1V</td>
				</tr>
				<tr>
				  <td>Current</td>
				  <td>node1.value1I</td>
				</tr>
				<tr>
				  <td>Power</td>
				  <td>node1.value1P</td>
				</tr>
			  </tbody>
			</table>
		    <a href="/TurnOFF1/" class="btn btn-primary btn-lg active" role="button">Turn OFF1</a>
		  
			
		  </div>
		</div> 
		<div class="row">
		  <div class="col-md-6">
		  <h4>Source</h4>	
		  </div>
		  <div class="col-md-6">
		  <h4>Node2</h4>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-6">
		    <table class="table table-bordered">
			  <tbody>
			    <tr>
				  <td>Voltage</td>
				  <td>source.valuesV</td>
				</tr>
				<tr>
				  <td>Current</td>
				  <td>source.valuesI</td>
				</tr>
				<tr>
				  <td>Power</td>
				  <td>source.valuesP</td>
				</tr>
		      </tbody>
			</table>
			<a href="/TurnOFFS/" class="btn btn-primary btn-lg active" role="button">Turn OFFS</a>
		  </div> 
		  <div class="col-md-6">
		    <table class="table table-bordered">
			  <tbody>
			    <tr>
				  <td>Voltage</td>
				  <td>node2.value2V</td>
				</tr>
				<tr>
				  <td>Current</td>
				  <td>node2.value2I</td>
				</tr>
				<tr>
				  <td>Power</td>
				  <td>node2.value2P</td>
				</tr>
			  </tbody>
			</table>
			<a href="/TurnOFF2/" class="btn btn-primary btn-lg active" role="button">Turn OFF2</a>
		  
			
		  </div>
		</div> 
		<div class="row">
		  <div class="col-md-6">
		  <br>	
		  </div>
		  <div class="col-md-6">
		  <h4>Node3</h4>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-6">
		  <br>
          <br>
		  <br>
		  </div> 
		  <div class="col-md-6">
		    <table class="table table-bordered">
			  <tbody>
			    <tr>
				  <td>Voltage</td>
				  <td>node3.value3V</td>
				</tr>
				<tr>
				  <td>Current</td>
				  <td>node3.value3I</td>
				</tr>
				<tr>
				  <td>Power</td>
				  <td>node3.value3P</td>
				</tr>
			  </tbody>
			</table> 
		    <a href="/TurnOFF3/" class="btn btn-primary btn-lg active" role="button">Turn OFF3</a>
			
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>	
	
</body>

</html>